.content {
    width: 100%;
    overflow: hidden;
    margin: 10px 0 0 25px;
}

.content.show {
    max-height: 3000px;
    transition: max-height 2s;
}

.content.close {
    max-height: 0;
    transition: max-height .6s;
}

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title:hover {
    color: #604646;
}

.checkbox {
    margin-right: 10px;
}


.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-right: none;
    border-top: none;
    transform: rotate(-135deg);
    transition: transform 0.3s;
    cursor: pointer;
}

.arrow.clicked {
    transform: rotate(-45deg);
}
